@model HP.Models.StandingsViewModel

@{
    ViewBag.Title = "Standings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/standings")

<h2>Standings</h2>
    <div class="form-group">
        @Html.LabelFor(model => Model.SelectedSeasonID)
    </div>
    <div class="form-group">
        @Html.DropDownListFor(model => Model.SelectedSeasonID, Model.Seasons, new { @class = "form-control" })
    </div>

<div id="progressbar"><div class="progress-label">Loading...</div></div>
<table id="standingsTable" class="table table-bordered" style="width:auto">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model=>model.StandingRows[0].Rank)</td>
            <td>@Html.DisplayNameFor(model=>model.StandingRows[0].Name)</td>
            <td>@Html.DisplayNameFor(model=>model.StandingRows[0].Gain)</td>
            <td>@Html.DisplayNameFor(model=>model.StandingRows[0].Total)</td>
        </tr>
    </thead>
    <tbody>
        @foreach (HP.Models.StandingRow row in Model.StandingRows)
        {
            <tr>
                <td>@row.Rank.ToString()</td>
                <td>@row.Name.ToString()</td>
                <td>@row.Gain.ToString()</td>
                <td>@row.Total.ToString()</td>
            </tr>
        }
    </tbody>
</table>


