@model HP.Models.StandingsViewModel

@{
    ViewBag.Title = "Standings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Standings</h4></div>
                <div class="panel-body">
                    <form class="form-inline">
                        <span class="control-label">
                            @Html.LabelFor(model => Model.SelectedSeasonID)
                        </span>
                        <div class="form-group">
                            @Html.DropDownListFor(model => Model.SelectedSeasonID, Model.Seasons, new { @class = "form-control" })
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div id="progressbar"><div class="progress-label">Loading...</div></div>
                    <table id="standingsTable" class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <td class="text-center">@Html.DisplayNameFor(model => model.StandingRows[0].Rank)</tdclass="text-center">
                                <td>@Html.DisplayNameFor(model => model.StandingRows[0].Name)</td>
                                <td class="text-right">@Html.DisplayNameFor(model => model.StandingRows[0].Gain)</tdclass="text-right">
                                <td class="text-right">@Html.DisplayNameFor(model => model.StandingRows[0].Total)</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (HP.Models.StandingRow row in Model.StandingRows)
                            {
                                <tr>
                                    <td class="text-center">@row.Rank.ToString()</td>
                                    <td>@row.Name.ToString()</td>
                                    <td class="text-right">@row.Gain.ToString()</td>
                                    <td class="text-right">@row.Total.ToString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/standings")


