@model HP.Models.StandingsViewModel

@{
    ViewBag.Title = "Standings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Standings</h2>
    <div class="form-group">
        @Html.DisplayNameFor(model => Model.SelectedSeasonID)
    </div>
    <div class="form-group">
        @Html.DropDownListFor(model => Model.SelectedSeasonID, Model.Seasons, new { @class = "form-control" })
    </div>

<table class="table">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model=>model.Standings[0].Rank)</td>
            <td>@Html.DisplayNameFor(model=>model.Standings[0].Team.Name)</td>
            <td>@Html.DisplayNameFor(model=>model.Standings[0].Gain)</td>
            <td>@Html.DisplayNameFor(model=>model.Standings[0].PointTotal)</td>
        </tr>
    </thead>
    <tbody>
        @foreach (HP.Models.Standing standing in Model.Standings)
        {
            <tr>
                <td>@Html.DisplayText(standing.Rank.ToString())</td>
                <td>@Html.DisplayText(standing.Team.Name)</td>
                <td>@Html.DisplayText(standing.Gain.ToString())</td>
                <td>@Html.DisplayText(standing.PointTotal.ToString())</td>
            </tr>
        }
    </tbody>
</table>


