@model List<HP.Models.PlayerInterval>

    <table id="lineupTable" class="table table-bordered" data-toggle="table" style="width:auto">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(model => model.FirstOrDefault().Active)</td>
                <td>@Html.DisplayNameFor(model => model.FirstOrDefault().Number)</td>
                <td>@Html.DisplayNameFor(model => model.FirstOrDefault().Name)</td>
                <td>@Html.DisplayNameFor(model => model.FirstOrDefault().Position)</td>
                <td>@Html.DisplayNameFor(model => model.FirstOrDefault().Team)</td>
                <td>@Html.DisplayNameFor(model => model.FirstOrDefault().Points)</td>
            </tr>
        </thead>
        <tbody id="lineup">
            @*foreach (HP.Models.PlayerInterval pi in Model.PlayerIntervals)*@
            @for (int i = 0; i < Model.Count; i++)
            {
                var pi = Model[i];
                var active = pi.Active;
                var lineupPlayerId = pi.LineupPlayerId;
                var playerId = pi.PlayerId;
                var name = pi.Name;
                var num = pi.Number.ToString();
                var pts = pi.Points.ToString();
                var position = pi.Position.First();
                Dictionary<string, Object> toggleDic = new Dictionary<string, Object> {
                                       { "data-toggle", "toggle" },
                                       { "data-on", "Active" },
                                       { "data-off", "Bench" },
                                       { "data-size", "mini" },
                                       { "class", "playerActive" } };
                <tr class="playerRow" id="@playerId">
                    <td>
                        @Html.CheckBoxFor(p => Model[i].Active, toggleDic)
                        @Html.HiddenFor(p => lineupPlayerId)
                    </td>
                    <td> @Html.DisplayFor(p => num) </td>
                    <td>
                        @Html.DisplayFor(p => name)
                        @Html.HiddenFor(p => playerId)
                    </td>
                    <td class="position">
                        @Html.DisplayFor(p => pi.Position)
                        @Html.HiddenFor(p => position)
                    </td>
                    <td>
                        @Html.DisplayFor(p => pi.Team)
                    </td>
                    <td> @Html.DisplayFor(p => pts) </td>
                </tr>
            }
        </tbody>
    </table>


