@model List<HP.Models.PlayerInterval>


@for (int i = 0; i < Model.Count; i++)
            {
                var pi = Model[i];
                var active = pi.Active;
                var lineupPlayerId = pi.LineupPlayerId;
                var playerId = pi.PlayerId;
                var name = pi.Name;
                var num = pi.Number.ToString();
                var pts = pi.Points.ToString();
                var position = pi.Position.First();
                Dictionary<string, Object> toggleDic = new Dictionary<string, Object> {
                                       { "data-toggle", "toggle" },
                                       { "data-on", "Active" },
                                       { "data-off", "Bench" },
                                       { "data-size", "mini" },
                                       { "class", "playerActive" } };
    <tr class="playerRow" id="@playerId">
        <td>
            @Html.CheckBoxFor(p => Model[i].Active, toggleDic)
            @Html.HiddenFor(p => lineupPlayerId)
        </td>
        <td> @Html.DisplayFor(p => Model[i].Number) </td>
        <td>
            @Html.DisplayFor(p => Model[i].Name)
            @Html.HiddenFor(p => playerId)
        </td>
        <td class="position">
            @Html.DisplayFor(p => Model[i].Position)
            @Html.HiddenFor(p => position)
        </td>
        <td>
            @Html.DisplayFor(p => Model[i].Team)
        </td>
        <td> @Html.DisplayFor(p => Model[i].Points) </td>
    </tr>
}



