@model HP.Models.TeamViewModel

@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="addPlayerModal" class="modal fade" role="dialog">

    <div class="modal-dialog">
        <!-- Add Players Modal content-->
        @*<div class="modal-content">
                @using (Html.BeginForm("AddPlayers", "Team", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmAddPlayers" }))
                {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Player(s)</h4>
                </div>
                <div class="modal-body">

                    <table celpadding=2 cellspacing=1 border=0 class="table">
                        <tr>
                            <td valign=top bgcolor=#f4f1e8 class="colorNote tableBody"><strong>SELECT PLAYERS</strong><br></td>
                            <td>&nbsp;</td>
                            <td valign=top align=left bgcolor=#f4f1e8 class="colorNote tableBody"><strong>TEAM ROSTER</strong><br /></td>
                        </tr>
                        <tr>
                            <td style="width:280px; height:310px;" valign=middle class="colorNote tableBody">
                                <input type=hidden id="backUsed" name="backUsed" value="1" defaultvalue="1"><input type="hidden" name="iCurrTeam" id="iCurrTeam" value="0" defaultvalue="0" />
                                @Html.DropDownListFor(model => model.RosterPlayersToAdd, Model.AvailablePlayers, new { @id = "availPlayers", @name = "availPlayers", @class = "select", @multiple = "multiple", @size = "25", @style = "width:250px;" })
                            </td>
                            <td style="vertical-align: middle">
                                <input type="button" name="btnRight" value=">>" onclick="moveDualList(document.getElementById('availPlayers'), document.getElementById('roster'), false);" class="select"><br /><br />
                                <input type="button" name="btnLeft" value="<<" onclick="moveDualList(document.getElementById('roster'), document.getElementById('availPlayers'), false);" class="select">
                            </td>
                            <td style="width:280px; height:310px;" valign=middle class="colorNote tableBody">
                                @Html.Hidden("teamId", Model.TeamId)
                                @Html.DropDownListFor(model => model.RosterPlayersToAdd, Model.RosterPlayersToAdd, new { @id = "roster", @name = "roster", @class = "select", @multiple = "multiple", @size = "25", @style = "width:250px;" })
                                @Html.Hidden("playerIds")
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-default" value="Save" onclick="populatePlayerIds();selectAll();" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                }
            </div>*@
    </div>
</div>

<div id="tradeModal" class="modal fade" role="dialog">

    <div class="modal-dialog">
        <!-- Trade Players Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Trade Dashboard</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="panel with-nav-tabs panel-primary">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tabOffers" data-toggle="tab">Offers <span class="badge">1</span></a></li>
                                <li><a href="#tabPropose" data-toggle="tab">Propose</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane in active fade" id="tabOffers">
                                    <div class="row">
                                        <div class="col-lg-12" style="overflow:auto">
                                            <table id="offersTable" class="table table-bordered table-condensed table-responsive" data-toggle="table">
                                                <thead>
                                                    <tr>
                                                        <th>From</th>
                                                        <th>Expires</th>
                                                        <th>Receive</th>
                                                        <th>Send</th>
                                                        <th>Status</th>
                                                        <th>Notes</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="clickable-row offers-row">
                                                        <td>Dave</td>
                                                        <td>03/08/17</td>
                                                        <td>
                                                            <ul class="list-group">
                                                                <li class="list-group-item">Thornton, Joe</li>
                                                                <li class="list-group-item">Dave's 2017 1st Round</li>
                                                            </ul>
                                                        </td>
                                                        <td>
                                                            <ul class="list-group">
                                                                <li class="list-group-item">Petan, Nic</li>
                                                                <li class="list-group-item">Joel's 2017 1st Round</li>
                                                            </ul>
                                                        </td>
                                                        <td>Pending</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr class="clickable-row offers-row">
                                                        <td>Dave</td>
                                                        <td>03/16/17</td>
                                                        <td>
                                                            <ul class="list-group">
                                                                <li class="list-group-item">Thornton, Joe - SJS</li>
                                                                <li class="list-group-item">Dave's 2017 1st Round</li>
                                                            </ul>
                                                        </td>
                                                        <td>
                                                            <ul class="list-group">
                                                                <li class="list-group-item">Petan, Nic - WPG</li>
                                                                <li class="list-group-item">Joel's 2017 1st Round</li>
                                                            </ul>
                                                        </td>
                                                        <td>Pending</td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="btn-group btn-group-lg pull-right" role="group" aria-label="...">
                                                <a href="#" class="btn btn-lg btn-success" role="button"><span class="glyphicon glyphicon-ok"></span></a>
                                                <a href="#" class="btn btn-lg btn-danger" role="button"><span class="glyphicon glyphicon-remove"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tabPropose">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row hidden-xs hidden-sm hidden-md propose-top">
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 colorNote tableBody" bgcolor=#f4f1e8>
                                                    <strong>MY ASSETS</strong>
                                                </div>
                                            </div>
                                            <div class="row propose-middle">
                                                <div class="col-lg-12">
                                                    <ul id="myAssets" class="droppable my">
                                                        <li class="ui-state-default">Backstrom, Niclas - WAS</li>
                                                        <li class="ui-state-default">Little, Bryan - WPG</li>
                                                        <li class="ui-state-default">Stepan, Derek - NYR</li>
                                                        <li class="ui-state-default">Lehtera, Jori - STL</li>
                                                        <li class="ui-state-default">Bonino, Nick - PIT</li>
                                                        <li class="ui-state-default">Schmaltz, Nick - CHI</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 colorNote tableBody" bgcolor=#f4f1e8>
                                                    <strong>Offer:</strong>
                                                </div>
                                            </div>
                                            <div class="row propose-bottom">
                                                <div class="col-lg-12">
                                                    <ul id="myAssetsOffered" class="droppable my"></ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row propose-top">
                                                <div class="col-lg-12">
                                                    <label for="selectTraderPartner">Trade Partner</label>
                                                    <select id="selectTradeParnter" class="form-control">
                                                        <option>Dave</option>
                                                        <option>Watson</option>
                                                        <option>Tyson</option>
                                                        <option>Elleena</option>
                                                        <option>Duncan</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div valign=top align=left bgcolor=#f4f1e8 class="col-lg-12 colorNote tableBody"><strong>PARTNER ASSETS</strong><br /></div>
                                            </div>
                                            <div class="row propose-middle">
                                                <div class="col-lg-12">
                                                    <ul id="partnerAssets" class="droppable partner">
                                                        <li class="ui-state-default" value="player123">Thornton, Joe - SJS</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 colorNote tableBody" bgcolor=#f4f1e8>
                                                    <strong>Request:</strong>
                                                </div>
                                            </div>
                                            <div class="row propose-bottom">

                                                <ul id="partnerAssetsRequested" class="droppable partner"></ul>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <input type="submit" class="btn btn-default" value="Send Offer" onclick="populatePlayerIds();selectAll();" />                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("SubmitRoster", "Team", FormMethod.Post))
{
    @Html.HiddenFor(p => Model.TeamId, new { @id = "TeamId" })
}
<div class="panel with-nav-tabs panel-primary">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabLineup" data-toggle="tab">Lineup</a></li>
            <li><a href="#tabRoster" data-toggle="tab">Roster</a></li>
            @*<li><a href="#tabTrade" data-toggle="tab"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>Trade<span class="badge">1</span></a></li>*@
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tabLineup">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <span class="control-label hidden-xs">
                                                @Html.LabelFor(model => model.SelectedIntervalId)
                                            </span>
                                            @Html.DropDownListFor(model => model.SelectedIntervalId, Model.Intervals, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <button id="lineupSubmit" type="button" class="btn btn-default btn-success btn-xs-text" onclick="submitLineup()" @(Model.CanSubmit ? "" : "disabled" )>
                                                <i class="glyphicon glyphicon-save" aria-hidden="true"></i> Submit
                                            </button>
                                            <button id="lineupReset" type="button" class="btn btn-default btn-danger btn-xs-text" onclick="resetLineup()" @(Model.CanSubmit ? "" : "disabled" )>
                                                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i> Reset
                                            </button>
                                        </div>
                                        <div class="form-group">
                                            <span id="intervalStart" class="label label-info">
                                                @Html.DisplayTextFor(model => model.SelectedStartTime)
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox">
                                                <label><input id="showBench" type="checkbox">Show Bench</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div id="progressbar"><div class="progress-label">Loading...</div></div>
                            <table id="lineupTable" class="table table-bordered table-condensed table-striped" data-toggle="table" style="width:auto">
                                <thead>
                                    <tr>
                                        <th rowspan="2"><span id="submitted" class="label label-success">Submitted</span><span id="unsubmitted" class="label label-danger">Unsubmitted</span></th>
                                        <th rowspan="2" class="text-capitalize">@Html.DisplayShortNameFor(model => model.LineupRows.FirstOrDefault().Position)</th>
                                        <th rowspan="2" class="text-capitalize">@Html.DisplayNameFor(model => model.LineupRows.FirstOrDefault().Name)</th>
                                        <th rowspan="2" class="text-capitalize submit-show">GP</th>
                                        <th colspan="3" class="text-capitalize text-center submit-show">@Html.DisplayDescriptionFor(model => model.LineupRows.FirstOrDefault().DayPoints)</th>
                                        <th rowspan="2" class="text-capitalize submit-hide hidden-xs">@Html.DisplayNameFor(model => model.LineupRows.FirstOrDefault().Schedule)</th>
                                    </tr>
                                    <tr>
                                        <th class="submit-show"><span data-toggle="tooltip" data-placement="bottom" title=@Html.DisplayNameFor(model=>model.LineupRows.FirstOrDefault().DayPoints)>@Html.DisplayShortNameFor(model => model.LineupRows.FirstOrDefault().DayPoints)</span></th>
                                        <th class="submit-show"><span data-toggle="tooltip" data-placement="bottom" title=@Html.DisplayNameFor(model=>model.LineupRows.FirstOrDefault().IntervalPoints)>@Html.DisplayShortNameFor(model => model.LineupRows.FirstOrDefault().IntervalPoints)</span></th>
                                        <th class="submit-show"><span data-toggle="tooltip" data-placement="bottom" title=@Html.DisplayNameFor(model=>model.LineupRows.FirstOrDefault().TotalPoints)>@Html.DisplayShortNameFor(model => model.LineupRows.FirstOrDefault().TotalPoints)</span></th>
                                    </tr>
                                </thead>
                                <tbody id="lineup"></tbody>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="well-lg">
                                        <div id="efficiency" class="pie"></div>
                                        <div id="efficiency-label" class="pie-label"></div>
                                        <h4 class="text-center">lineup efficiency</h4>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="well-lg">
                                        <div id="distribution" class="pie"></div>
                                        <h4 class="text-center">points distribution</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tabRoster">
                <div class="navbar navbar-default">
                    <ul class="nav navbar-nav">
                        <li class="navbar-form form-inline">
                            <div class="form-group">
                                <button type="button" class="btn btn-success disabled" aria-label="Left Align">
                                    <i class="glyphicon glyphicon-save" aria-hidden="true"></i> Save
                                </button>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-info disabled" data-target="#addPlayerModal" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Player
                                </button>
                            </div>
                            <div class="form-group">
                                <button id="trade" type="button" class="btn btn-primary" data-toggle="modal" data-target="#tradeModal" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Trade
                                    <span class="badge">1</span>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="panel panel-default col-lg-6">
                    <table id="rosterTable" class="table table-bordered table-condensed table-striped" data-toggle="table" style="width:auto">
                        <thead>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.RosterPlayers.FirstOrDefault().Number)</td>
                                <td>@Html.DisplayNameFor(model => model.RosterPlayers.FirstOrDefault().Name)</td>
                                <td>@Html.DisplayNameFor(model => model.RosterPlayers.FirstOrDefault().EligiblePositions)</td>
                                <td>@Html.DisplayNameFor(model => model.RosterPlayers.FirstOrDefault().Team)</td>
                                <td>@Html.DisplayNameFor(model => model.RosterPlayers.FirstOrDefault().Points)</td>
                            </tr>
                        </thead>
                        <tbody id="lineup">
                            @foreach (HP.Models.PlayerInterval pi in Model.RosterPlayers)
                            {
                                var playerId = pi.PlayerId;
                                var name = pi.Name;
                                var num = pi.Number.ToString();
                                var pts = pi.Points.ToString();
                                var position = pi.Position.First();
                                <tr>
                                    <td>@Html.DisplayFor(p => num)</td>
                                    <td>
                                        @Html.DisplayFor(p => name)
                                        @Html.HiddenFor(p => playerId)
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(p => position, new SelectList(pi.EligiblePositions, position))
                                    </td>
                                    <td>@Html.DisplayFor(p => pi.Team)</td>
                                    <td>@Html.DisplayFor(p => pts)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default col-lg-6">
                    @*<table id="pickTable" class="table table-bordered table-condensed table-striped" data-toggle="table" style="width:auto">
                        <thead>
                            <tr>
                                <td>Pick</td>
                            </tr>
                        </thead>
                        <tbody id="picks"></tbody>
                    </table>*@
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/team")
    @Styles.Render("~/Content/team")
