<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hands of Stone</title>

    <link rel="icon" href="../../Content/images/favicon.png" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/materials")
    @Scripts.Render("~/bundles/solid")
    @Scripts.Render("~/bundles/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/datatables")

</head>
<body>

    @{Html.RenderAction("Index", "Menu"); }

    <div class="container-fluid body-content">
        <div class="loading-modal"></div>
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - handsofstone.ca</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @Scripts.Render("~/bundles/doT")
    @RenderSection("scripts", required: false)


</body>
</html>