@model HP.Models.LoginViewModel



<div id = "login" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("handsofstone", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            @Html.ValidationSummary("", new { @class = "navbar text-danger" })
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-form navbar-right" }))
                {
                    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
                    var claim = claimsIdentity.FindFirst("Name");
                    var name = User.Identity.Name;
                    if (claim != null)
                    {
                        name = claim.Value;
                    }
                    <span class="glyphicon glyphicon-user grey" aria-hidden="true"></span>
                    @Html.ActionLink(name, "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                    <button type="submit" class="btn btn-success" title="Sign Out">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    </button>
                }
            }
            else
            {
                using (Ajax.BeginForm("Login", "Account", new AjaxOptions { HttpMethod = "POST", Url = Url.Action("Login", "Account"),
                    UpdateTargetId = "login" }, new { id = "login", @class = "navbar-form navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.TextBoxFor(u => u.Email, new { placeHolder = "Email", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(u => u.Password, new { placeHolder = "Password", @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-success" title="Sign In">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                    </button>
                }
            }
        </div>
    </div>
</div>