@model HP.Models.LoginViewModel

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    @Html.ActionLink("handsofstone", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "navbar-brand" })
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarAccount" aria-expanded="false" aria-controls="navbarAccount" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarAccount">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" />
        </ul>
        @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline" }))
                {
                    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
                    var claim = claimsIdentity.FindFirst("Name");
                    var name = User.Identity.Name;
                    if (claim != null)
                    {
                        name = claim.Value;
                    }
                    <span class="fas fa-user grey mr-sm-2" aria-hidden="true"></span>
                    @Html.ActionLink(name, "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage", @class = "mr-sm-2" })
                    <button type="submit" class="btn btn-success my-2 my-sm-0" title="Sign Out">
                        <span class="fas fa-sign-out-alt" aria-hidden="true"></span>
                    </button>
            }
        }
        else
        {
            using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { id = "loginForm", @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.TextBoxFor(u => u.Email, new { placeHolder = "Email", @class = "form-control mr-sm-2" })
                </div>
                    <div class="form-group">
                        @Html.PasswordFor(u => u.Password, new { placeHolder = "Password", @class = "form-control mr-sm-2" })
                    </div>
                    <button type="submit" class="btn btn-success my-2 my-sm-0" title="Sign In">
                        <span class="fas fa-sign-in-alt" aria-hidden="true"></span>
                    </button>
            }
        }
    </div>
</nav>


